openapi: 3.0.0
info:
  title: Revised_OpenWeatherMap_API
  version: '2.5'
  description: "Get your city's current weather, its daily forecast for 16 days, as well as a three-hour-interval forecast for 5 days. Helpful stats, graphics, and 'This Day in History' charts are available for your reference. Interactive maps show precipitation, clouds, pressure, and wind around your location's weather station. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint from the [OpenWeatherMap API](https://openweathermap.org/) only. <br/><br/> **Note**: Parameters are optional, but you must select at least one. Calling the API by city ID (using the `id` parameter) will provide the most precise location results."
  contact:
    name: Marc Smyth
    url: 'https://openweathermap.org/api'
    email: marcEsmyth@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      summary: Weather
      tags:
        - Weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        example: 145.77
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        example: -16.92
                        description: 'City geo location, latitude'
                  cod:
                    example: '200'
                    description: Internal parameter
                    type: number
                  name:
                    type: string
                    example: Cairns
                    description: Name
                  id:
                    example: '2172797'
                    description: City ID
                    type: number
                  timezone:
                    type: number
                    example: -28800
                    description: The timezone for the station
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                        example: 1
                        description: Internal parameter
                      id:
                        type: number
                        example: 8166
                        description: Internal parameter
                      country:
                        type: string
                        example: AU
                        description: 'Country code (GB, JP, etc.)'
                      sunrise:
                        type: number
                        example: 1435610796
                        description: 'Sunrise time, unix, UTC'
                  dt:
                    type: number
                    example: 1435658272
                    description: 'Time of data calculation, unix, UTC'
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                        example: 75
                        description: 'Cloudiness, %'
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        example: 5.1
                        description: 'Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour'
                      deg:
                        type: number
                        example: 150
                        description: 'Wind direction, degrees (meteorological)'
                      visibility:
                        type: number
                        example: 16093
                        description: 'Visibility, meter'
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        example: 293.25
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit'
                      feels_like:
                        type: number
                        example: 41.16
                        description: What the temperature feels like despite the actual numbers
                      temp_min:
                        type: number
                        example: 289.82
                        description: 'Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit'
                      temp_max:
                        type: number
                        example: 295.37
                        description: 'Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit'
                      pressure:
                        type: number
                        example: 1019
                        description: 'Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa'
                      humidity:
                        type: number
                        example: 1019
                        description: 'Humidity, %'
                  base:
                    type: string
                    example: cmc stations
                    description: Internal parameter
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 803
                          description: Weather condition id
                        main:
                          type: string
                          example: clouds
                          description: 'Group of weather parameters (Rain, Snow, Extreme etc.)'
                        description:
                          type: string
                          example: broken clouds
                          description: Weather condition within the group
                        icon:
                          type: string
                          example: ' 04n'
                          description: Weather icon id
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties: {}
            application/xml:
              schema:
                type: object
                properties: {}
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/unauthorized_response'
      operationId: get-weather
      description: 'Access current weather data for any global location, including over 200,000 cities! Current weather is frequently updated based on global models and data from over 40,000 weather stations.'
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note if you do not specify a country, the search will use USA as a default.'
          required: true
        - schema:
            type: string
            enum:
              - standard
              - metric
              - imperial
            example: standard
          in: query
          name: units
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not specify `units` as the parameter, the format remains as `standard` by default.'
          required: true
        - schema:
            type: string
          in: query
          name: q
          description: '**City name**. *Example: Barcelona*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and, optionally, the country code divided by a comma; use ISO 3166 country codes.'
        - schema:
            type: string
          in: query
          name: id
          description: '**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as one API call. So, if you have three city IDs, it’s treated as three separate API calls.*'
        - schema:
            type: string
            example: '35'
          in: query
          name: lat
          description: '**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use in conjunction with `lon`.'
        - schema:
            type: string
            example: '139'
          in: query
          name: lon
          description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use in conjunction with `lat `.'
        - schema:
            type: string
            example: en
          in: query
          name: lang
          description: '**Language**. *Example: en*. You can use the lang parameter to get the output in your language. You can use the following languages with the corresponding lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.'
        - schema:
            type: string
            enum:
              - json
              - xml
              - html
            example: json
          in: query
          name: mode
          description: "**Mode*. *Example: html. Determines the response's format. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default."
      security:
        - app_id: []
    parameters: []
components:
  schemas:
    unauthorized_response:
      title: unauthorized_response
      type: object
      properties:
        cod:
          type: integer
        message:
          type: string
      required:
        - cod
        - message
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
      description: ''
